.navigator-item {
  height: 50px;
  width: 50px;
  background-color: #50c878;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 3px 2px #574D4D;
  position : absolute;
  transition : all .3s linear;
  z-index : -1;
  cursor: pointer;
}
