@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300&family=Raleway:wght@300&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

span {
  vertical-align: middle;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  width : 100%;
  height: 75px;
  background: #403939;
  box-shadow: 0 8px 5px #574D4D;
}

.content {
  min-height : 100vh;
  margin : 0;
  padding : 0;
}

.avia-footer {
  position : relative;
  margin-bottom : -140px;
  width: 100%;
  height: 140px;
  background: #403939;
  @apply grid md:grid-cols-11 sm:grid-cols-3 justify-items-center;
}

.navigator {
  height: 55px;
  width: 55px;
  background-color: #50c878;
  border-radius: 50%;
  display: inline-block;
  /*box-shadow: 0 3px 2px #574D4D;*/
  transition : .5s;
  border: 0 solid #50c878;
  z-index : 100;
  position : absolute;
}

.navigator-item {
  height: 25px;
  width: 25px;
  background-color: #50c878;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 3px 2px #574D4D;
  position : absolute;
  transition : all .3s linear;
  /*border: 5px solid #574D4D;*/
}

.navigator:hover {
  box-shadow: 0 10px 15px #574D4D;
  /*border: .5px solid #EE5180;*/
}
